body{
    
    background-color: aliceblue;
    align-items: center;
    font-family:sans-serif;
    color:rgb(68, 68, 68);
}

.outpaper{
    
    background-color: rgb(160, 209, 209);
    display: flex;
    justify-content: center;
    
    width: 60%;
    height: fit-content;
    margin: 10% 20%;
    
    
    
    
    
    border-radius: 25px;
    
    
    
    
}
.inpaper{
    margin: 5%;
    
}


.name {
    border-radius: 12px;
    height: 29px;
    background-color:rgb(131, 190, 190);
    border-style: none;
    font-family: 'Arial Black';
    font-style: bold;
    color: rgb(68, 68, 68);
    max-width: 400px;;
    padding: 10px;
    margin-bottom: 50px;
    font-size: 15px;
    
    
    

}

    


.add{
    border-radius: 3px;
    width: 70px;
    height: 50px;
    border-style: none;
    font-family: 'Arial Black';
    
    color:rgb(68, 68, 68);
    font-size: 18px;
    margin-right: 8px;
    
}
.spawn{
    margin-top: 10px;
    
}
.todo{
    border-radius: 15px;
    background-color: rgb(160, 209, 209);
    border-style: none;
    max-width: 450px;
    font-size:15px;
    font-style: bold;
    display:inline-block;
    color: rgb(68, 68, 68) ;
    font-family: 'Arial Black';
    padding: 8px;
    margin-left : 5px;
    height: 25px;
    
}

.check{
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.check:checked{
    background-color:rgb(144, 190, 190);
   
}

